
* {
	-fx-font-size: 15.0px;
} 
.root {
	-fx-pref-height: 490.0px ;
	-fx-pref-width: 600.0px ;
}

.hbox_allg {
	-fx-alignment: center ;
	-fx-padding: 0 20 0 20;

	-fx-min-height: 50.0;
}

.hbox_allg > * {
	-fx-alignment: center;
	-fx-min-width: 60;
	-fx-min-height: 31;
	
	-fx-max-height: 31;
	-fx-max-width: 420;
	
}

.hbox_allg > IntegerMinMaxTextField, FloatMinMaxTextField, TextField, StringTextField {
	-fx-pref-height: 31;
	-fx-pref-width: 420;	
}

.tf_kurz {	
	-fx-pref-height: 31;
	-fx-pref-width: 180;	
}

.hbox_allg > Button {
	-fx-pref-height: 31;
	-fx-pref-width: 120;	
}

VBox {
	-fx-padding: 20 20 10 20;
}

HBox {
	-fx-alignment: center ;
	-fx-padding: 2.5 0 2.5 0;
}

HBox > TextField{
	-fx-alignment: center;
	-fx-padding: 2.5 0 2.5 0;
}

ScrollPane {
	-fx-hbar-policy: never ;
	-fx-vbar-policy: as-needed ;
}

FlowPane > StringTextField {
	-fx-pref-height: 31;
	-fx-pref-width: 320;	
}
	
.FlowPaneRight {
	-fx-alignment: center-right ;
	-fx-padding: 0 0 0 5;
}
.FlowPaneLeft {
	-fx-alignment: center-left ;
	-fx-padding: 0 5 0 0;
}
.FlowPaneCenter {
	-fx-alignment: center ;
	-fx-padding: 5 0 5 0;
}

.barBut {
	-fx-pref-width: 140;
	-fx-pref-height: 20;
}
.bar {
	-fx-padding: 5 0 5 0;
	-fx-alignment: center;
	-fx-pref-width: 550;
	-fx-pref-height: 30;
}









