
SudokuTextField {
	-fx-font-size: 40px;
	-fx-font-weight: bolder;
	-fx-alignment: center;
	-fx-text-fill: black;
	
	-fx-pref-width: 75;
	-fx-pref-height: 75;
	-fx-max-height: 75;
	-fx-max-width: 75;
	-fx-min-height: 75;
	-fx-min-width: 75;
}

#btnOverlay {
	
	-fx-pref-width: 75;
	-fx-pref-height: 75;
	-fx-max-height: 75;
	-fx-max-width: 75;
	-fx-min-height: 75;
	-fx-min-width: 75;
}

.miniButton {
	-fx-pref-width: 25;
	-fx-pref-height: 25;
	-fx-max-height: 25;
	-fx-max-width: 25;
	-fx-min-height: 25;
	-fx-min-width: 25;
}


.grid3x3 {
	-fx-padding: 5;
}

.markF {
	-fx-text-fill: red;
	-fx-background-color: #f4fff4;
	-fx-border-style: solid;
	-fx-border-width: 0.2;
	-fx-border-color: Green;
}
.markF2 {
	-fx-text-fill: red;
}
.mark {
	-fx-text-fill:  violet;
	-fx-background-color: #f4fff4;
	-fx-border-style: solid;
	-fx-border-width: 0.2;
	-fx-border-color: Green;
}
 

ButtonBar {
	-fx-alignment: center;
	-fx-font-size: 16px;
	-fx-font-weight: bolder;

}

Button {
	-fx-pref-width: 150;
	-fx-pref-height: 31;
}


